@define-color selected-text #FFFFFF;
@define-color text #000000;
@define-color base #FAB387;
@define-color border #916753;
@define-color foreground #dcd7ba;
@define-color selected #916753;

* {
    all: unset;
}

* {
    font-family: Thunderman;
    font-size: 18px;
    color: @text;
}

scrollbar {
    opacity: 0;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

.box-wrapper {
    background: alpha(@base, 0.85);
    padding: 20px;
    border: 2px solid @border;
    border-radius: 10px;
}

.preview-box {
}

.box {
}

.search-container {
    background: @base;
    padding: 10px;
    border-radius: 10px;
}

.input placeholder {
    opacity: 0.5;
}

.input {
}

.input:focus,
.input:active {
    box-shadow: none;
    outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
    background-color: @selected;
    border-radius: 10px;
}

child:selected .item-box * {
    color: @selected-text;
}

.item-box {
    padding-left: 14px;
}

.item-text-box {
    all: unset;
    padding: 14px 0;
}

.item-text {
}

.item-subtext {
    font-size: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

.item-image {
    margin-right: 14px;
    -gtk-icon-transform: scale(0.9);
}

.current {
    font-style: italic;
}

.keybind-hints {
    background: @base;
    padding: 10px;
    margin-top: 10px;
}

.preview {
    background: @base;
}

.keybinds {
    padding-top: 10px;
    border-top: 1px solid lighter(@base);
    font-size: 12px;
    color: @foreground;
}

.global-keybinds {
}

.item-keybinds {
}

.keybind {
}

.keybind-button {
    opacity: 0.5;
}

.keybind-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.keybind-bind {
    text-transform: lowercase;
    opacity: 0.35;
}

.keybind-label {
    padding: 2px 4px;
    border-radius: 4px;
    border: 1px solid @foreground;
}
